#tax-filing-status .btn{
    width:200px;
}

.hidden {
     display:none;
}

#income-range .btn{
    width:200px;
}

.form-control {
    width: 300px;
}

.label-on {
  display: none;
}
input:checked ~ .label-off {
  display: none;
}
input:checked ~ .label-on {
  display: inline;
}