#tax-filing-status .btn{
    width:200px;
}

.hidden {
     display:none;
}

#income-range .btn{
    width:200px;
}

.form-control {
    width: 300px;
}

.label-show {
  display: none;
}
input:checked ~ .label-hide {
  display: none;
}
input:checked ~ .label-show {
  display: inline;
}

#interest-rate .btn{
    width:250px;
}

#marginalTaxRate.form-control {
	background: bg-primary;
}
